


body{
      overflow-x: hidden;
      
}

a {
    text-decoration: none !important;
}

.navbar-nav li:hover {
    border-radius: 9px;
    background-color: #fff;
	-webkit-animation: text-pop-up-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

ul {
    list-style: none;
}


/* edicion del nav */

#nav {
    background-color:#EAF2FD !important;
}

.nav_img {
    width: 50px;
    height: 35px;
    margin-right: 5px;    
}

.navbar {
    padding: 0 150px;
}

.navbar-nav {
    margin-left: 200px;
}

/* edicion del main */

main {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 80px ;
}

.main_text {    
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.main_tittle h2 {
    font-size: 45px;
    margin-bottom: 30px;
    
}

.main_tittle p {
    font-size: 22px;
    font-weight: bold;
}

#escribir {
    font-size: 22px;
    font-weight: bold;
    display: inline;
    border-right: 3px solid black;
    background-color: #a7d7e2;
    }

.main_tittle a {
    font-size: 1.1rem;
    font-weight: 1000;
}

.main_tittle a:hover {
    color: red;
    text-decoration: underline !important;
}

.main_tittle img {
    margin: 10px;
    
}

.main_left {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img {
    width: 368px;
    height: 368px;
    border-radius: 50px;
    
}

/* edicion Sobre mi*/

#aboutMe {
    padding: 50px 150px;
    background-color: #EAF2FD;
}

.about_me {
    width: 65%;
}

.about_me h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.about_me p {
    margin-bottom: 15px;
}

/* edicion skills and hobbies */

.section_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
}

.skill_tittle {
    font-size: 22px;
    margin-bottom: 10px;
}

.skill_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.habilidad {
    padding: 90px 0 0 15px;
    background-color: rgb(212, 212, 212);
    width: 150px;
    height: 150px;
    margin: 10px;    
}

.habilidad:hover {
    
    -webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

/* Editar formacion  */

#estudios {
    padding: 50px 150px;
    background-color: #EAF2FD;
}

.estudios_div {
    width: 280px;
    background-color: #fff;
    text-align: center;
    border: 5px double black;
    margin: 10px;
    flex-direction: column;
}

.skill_tittle{ 
    text-align: center;
}


.wrap {
	
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

.tarjeta-wrap{
    
   
	margin: 10px;
		-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta {
	width: 300px;
	height: 300px;
    margin: 10px;
	background: rgb(212, 212, 212);
	position: relative;
	transform-style: preserve-3d;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);


}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante {
	width: 100%;
}

.atras {
	transform: rotateY(180deg);	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	font-family: "open sans";

}

.atras_contenido {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.tarjeta-wrap:hover .tarjeta{
	transform: rotateY(180deg);
}

.atras_div li{
    
   

}

.card1 {
	background-image: url(/imagenes/nucba.jpg);
	background-size: cover;
}   
.card2 {
	background-image: url(/imagenes/argentina\ programa.jpg);
	background-size: cover;
}  

.card3 {
	background-image: url(/imagenes/alura.jpg);
	background-size: cover;
} 
.card4 {
	background-image: url(/imagenes/ort.jpg);
	background-size: cover;
} 
.card5 {
	background-image: url(/imagenes/it.jpg);
	background-size: cover;
} 
.card6 {
    
	background-image: url(/imagenes/yoga.jpg);
	background-size: cover;
} 
.card7 {    
	background-image: url(/imagenes/logo_unlam.png);
	background-size: cover;
} 

.card8 {
	background-image: url(/imagenes/imagecampus.jpg);
	background-size: cover;
} 
/*  edicion Proyectos  */


.proyectos_div {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 95vw;   
    border: 5px double black;  
    margin: 20px;
}  

.proyect_text{
    text-align: center;
    margin: 30px;
}
.proyect_img{
    border: 2px dotted black;
    padding: 10px;
    width: 50%;  
  }

/* Editar Formulario */
#form {
    background-color:#EAF2FD;
    margin: 20px;
    display: flex;
    width: 100vw;
    padding: 20px;
    justify-content: space-evenly;
}

.form_form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
    margin: 10px;
}

#mensaje {
    resize: none;
}

/* Editar Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 20px;
}

.footer_div{
    text-align: center;
}




/*boton para subir */
.ir-arriba {
	display:none;
	padding:20px;
	background:#a7d7e2;
	font-size:20px;
	color:#fff;
    border-radius: 50%;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}


@-webkit-keyframes text-pop-up-br {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(5px) translateX(5px);
              transform: translateY(5px) translateX(5px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
  }
  }
  @keyframes text-pop-up-br {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(5px) translateX(50px);
              transform: translateY(5px) translateX(5px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
  }
  }

  @-webkit-keyframes shake-right {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-right {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

/* Responsive */

@media (max-width: 1439px) {

    .navbar {
        padding: 0;
    }

}


@media (max-width: 1206px){
    .navbar-nav {
        margin-left: 150px;
    }

}

@media (max-width: 1050px){
    .navbar-nav {
        margin-left: 60px;
    }
    main {          
        margin: 50px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main_img {
        margin-bottom: 50px;
    }
    #aboutMe {
        padding: 10px 50px;
    }
    #estudios {
        
        padding: 0;
    }

}




@media (max-width: 800px){

main {          
    flex-direction: column-reverse;
    align-items: start;
}
.main_img {
    margin-bottom: 0 50px 0 50px;
}
.proyectos_div{
    flex-direction: column-reverse;
}

.proyect_img{
    width: 90%;  
  }

#form {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

}

@media (max-width: 440px) {
    .main_img {
        margin: 20px 0 0 20px;
        width: 300px;
        height: 300px;
    }
    main {          
        margin: 0;
    }
   

}